# virtualenv
venv/*

# cache
*.pyc
*/*.pyc
.DS_Store
*/.DS_Store

# static images
hjlog/static/image/*

# webpack
hjlog/static/public/
manifest.json

# npm
node_modules
npm_debug.log

# test db
hjlog.db

# letsencrypt
.well-known/
