# virtualenv
venv/*

# cache
**/*.pyc
**/.DS_Store

# static images
hjlog/static/image/photo/*

# webpack
hjlog/static/build/
manifest.json

# npm
node_modules
npm_debug.log

# test db
hjlog.db

# letsencrypt
.well-known/

# CSRF key
SECRET_KEY
