alembic==0.7.7
boto3==1.4.4
botocore==1.5.7
docutils==0.13.1
Flask==0.10.1
Flask-Bcrypt==0.6.2
Flask-Login==0.2.11
Flask-Migrate==1.5.0
Flask-Script==2.0.5
Flask-SQLAlchemy==2.0
Flask-WTF==0.12
greenlet==0.4.11
gunicorn==19.7.1
itsdangerous==0.24
Jinja2==2.8
jmespath==0.9.1
lazy==1.2
Mako==1.0.1
Markdown==2.6.2
MarkupSafe==0.23
msgpack-python==0.4.8
neovim==0.1.13
oauthlib==1.0.1
psycopg2==2.6.2
python-bcrypt==0.3.1
python-dateutil==2.6.0
python-editor==0.3
requests==2.7.0
requests-oauthlib==0.5.0
s3transfer==0.1.10
six==1.9.0
SQLAlchemy==1.0.8
URLObject==2.4.0
uWSGI==2.0.14
Werkzeug==0.10.4
WTForms==2.0.2
