{% extends 'base.html' %}
{% block header %}
<style type="text/css">
    img {
        width: 25%;
        float: left;
        margin: 0 5% 0 0;
    }
    div#intro{
      margin: 1em 0 0 0;
      padding: 0 0 1em 0;
    }
    .fb{
      margin-right : 2em;
    }
</style>
{% endblock %}

{% block content %}
  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <h1 class='ui header'>hjlog : hj & hj 's lifelog ! ! !</h1>
      <div class="row">
        <div class="ten wide column">
          <h3 class="ui header">환영합니다.</h3>
          <p><b>hjlog</b> : hj + hj 's lifelog 에 오신 것을
          진심으로 환영합니다!<br>
          이 멀리 있는 누추한 곳을 찾아줘서 고마워요 :)</p>
          <h3 class="ui header">기록은 기억을 지배한다.</h3>
          <p>기억은 기록하지 않을 때 쉽게 왜곡되고, 또 잊혀집니다.<br>
          우리는 우리가 관심을 갖고, 오래도록 보관하고 싶은 있는
          기억들<br>
          - 기술 자료나 시행착오, 그리고 무엇보다 <i>서로의 일상</i> -<br>
          을 이곳에 기록하려 합니다.</p>
        </div>
        <div class="five wide right floated column">
          <img
          src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xft1/t31.0-8/11878938_966061663450016_8703365010034361344_o.jpg"
          class="ui large bordered rounded image">
        </div>
      </div>
      <div class="row">
        <div class="center aligned column">
          <a class="ui button" href='posts'>바로 구경하기</a>
        </div>
      </div>
    </div>
  </div>

  <div class="ui vertical stripe quote segment" id='intro'>
    <div class="ui equal width stackable internally celled grid">
      <div class="center aligned row">
        <div class="column">
          <h3>안희종 | Heejong Ahn</h3>
          <p>Python, 훌륭한 맥주(블루문!), 치킨,
          힙합, 그리고 새로운 기술 공부를 좋아합니다.</p>
          <a href='http://facebook.com/heejong.ahn.7' class='fb'>facebook</a>
          <a href='http://github.com/heejongahn'>github</a>
        </div>
        <div class="column">
          <h3>심하진 | Hajin Shim</h3>
          <p>개이쁘다. 나머지는 니가 채워라.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="ui vertical stripe segment">
    <div class="ui text container center aligned">
      <h3 class="ui header">hjlog는 오픈 소스 프로젝트입니다!</h3>
      <p>hjlog의 모든 소스코드와 개발과정은 전부 Github에 공개되어 있습니다!<br>
      버그를 발견했다구요? 사이트를 이렇게 개선해보면 더 좋을 것 같다구요?<br>
      Pull Request와 Issue Open는 언제든지 환영입니다 :)</p>
    <a class="ui large button" href='https://github.com/heejongahn/hjlog'>I wanna contibute!</a>
    </div>
  </div>
{% endblock %}
