{% extends 'base.html' %}
{% block title %}hjlog{% endblock %}
{% block header %}
<style type="text/css">
    div#intro{
      margin: 1em 0 0 0;
      padding: 0 0 1em 0;
    }
    .heejong > a{
      margin-right : 2em;
    }
    code {
      font-size: 1em;
    }
</style>
{% endblock %}

{% block content %}
  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <h1 class='ui header'>hjlog : hj & hj 's lifelog</h1>
      <div class="row">
        <div class="ten wide column">
          <pre><code class="python language-python">print("Greetings, visitor!")</code></pre>
          <p>
            희종과 하진, 하진과 희종의 아지트인
            <b>hjlog</b>에 오신 여러분을 진심으로 환영합니다!
            부디 유용한 정보, 또는 따스한 기운을 가진 채로 떠나시길 바래요.
          </p>


          <pre><code class="python language-python">Record.governs(Memory)</code></pre>
          <p>
            기억은 기록하지 않을 때 쉽게 왜곡되고, 또 잊혀집니다.
            이 곳에서, 우리 둘은 우리가 관심을 갖고, 오래도록 보관하고 싶은
            기억들을 기억하려 합니다. 공부한 내용들과 그 과정에서의 시행착오들,
            서로의 일상까지요.
          </p>
        </div>
        <div class="five wide right floated column">
          <img src="{{ url_for('static', filename='image/photo/socute.jpg') }}" class="ui large bordered rounded image">
        </div>
      </div>
    </div>
  </div>

  <div class="ui vertical stripe quote segment" id='intro'>
    <div class="ui equal width stackable internally celled grid">
      <div class="center aligned row">
        <div class="column heejong">
          <h3>안희종 | Heejong Ahn</h3>
          <p><a href="http://www.bluemoonbrewingcompany.com/">훌륭한
              맥주</a>와 힙합, 그리고 새로운 기술을 공부하는 걸 좋아해요.
            스타트업에 관심이 많고, 블로그를 개발하면서 웹 표준 및 네트워크를
            공부하고 싶어졌어요.</p>
          <a href='http://facebook.com/heejong.ahn.7' target='_blank'>
            <i class="facebook icon"></i>
          </a>
          <a href='http://github.com/heejongahn' target='_blank'>
            <i class="github alternate icon"></i>
          </a>
          <a href='http://festi.kr/zlack/team/T0CLKVCJX/11/invitation/'
            target='_blank'>
            Join Slack Reading List
          </a>
        </div>
        <div class="column hajin">
          <h3>심하진 | Hajin Shim</h3>
          <p>어쩌다가 외고를 갔다가
          KAIST에 와서 수학공부 하다가
          지금은 Computer science 공부를 주로 하고있네요:-) 하하
          커서 훌륭한 사람이 되고싶어요! </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
