{% extends 'base.html' %}
{% block header %}
<style type="text/css">
    img {
        width: 25%;
        float: left;
        margin: 0 5% 0 0;
    }
</style>
{% endblock %}

{% block content %}
{% filter markdown %}

# HJLog

![1](https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-xtf1/t31.0-8/11807510_771915082928152_3472138544622106570_o.jpg)
![2](https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xap1/t31.0-8/11792001_771915079594819_7978074210830450903_o.jpg)
**h**ee**j**ong + **h**a**j**in = hjlog!
이 곳은 하진이와 희종이의 블로그입니다.

예~~
{% endfilter %}
{% endblock %}
