<!DOCTYPE html>
<html>
<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Site Properities -->
  <title>hjlog: hj + hj = ♥︎</title>

  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/semantic.min.css')}}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='image/icon/hj-03.png')}}">
  <style type="text/css">
  body {
    background-color: #FFFFFF;
  }
  .ui.menu .item img.logo {
    margin-right: 1.5em;
  }
  .main.container {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 7em auto 9em;
  }
  .wireframe {
    margin-top: 2em;
  }
  .ui.footer.segment {
    padding: 5em 0em;
  }
  a {
      color: #000;
      text-decoration: none;
  }
  </style>
  {% block header %}{% endblock %}
</head>
<body>
  <div class="ui fixed menu borderless">
    <div class="ui container">
      <div class="header item">
      <img src="/static/image/icon/hj-06.png" alt="hjlog">
      </div>
      <a href="/" class="item">About</a>
      <a href='/posts' class='item'>All Posts</a>
      <a href='/posts/daily' class='item'>Daily</a>
      <a href='/posts/study' class='item'>Study</a>
      <a href="/photo" class="item">Photo</a>
    </div>
  </div>

  <div class="ui main text container">
    {% block content %}{% endblock %}
  </div>

  <div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
      <div class="ui stackable inverted divided grid">
        <div class="sixteen wide column">
          <h4 class="ui inverted header">hjlog, from 2015</h4>
          <p>This is a blog of heejong and hajin.</p>
        </div>
      </div>
    </div>
  </div>
  <script src="{{ url_for('static', filename = 'js/semantic.min.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename = 'js/jquery.min.js') }}" type="text/javascript"></script>
</body>

</html>
