{% extends 'base.html' %}
{% block title %}photo{% endblock %}
{% block og_title %}photo{% endblock %}
{% block content %}
<div class="ui grid">
    <div class="ui column fifteen wide">
      <h1>사진이 남는거라는 어머니 말씀</h1>
    </div>
    <div class="ui one wide column">
        {% if current_user.username %}
        <a href="/photo/add" class="ui icon button basic">
            <i class="plus icon"></i>
        </a>
        {% endif %}
    </div>
</div>
<br><br>
{% for photo in photos %}
<div class="ui grid">
    <div class="ui column twelve wide">
        <b>{{photo.title}}</b>
    </div>
    <div class="right aligned ui column four wide">
        <p>{{photo.datetime.strftime('%Y %m %d %H:%M')}}</p>
    </div>
</div>
<img class="ui fluid rounded image" src="/static/image/photo/{{photo.filename}}"}
<p>{{photo.description}}</p>
<div class="ui horizontal divider"><i class="ui heart icon"></i></div>
{% endfor %}
{% endblock %}
