{% extends 'base.html' %}
{% block header %}
<style type='text/css'>
h2.title, div.content {
  display: inline;
  vertical-align: middle;
}
</style>
{% endblock %}
{% block content %}
<div class="ui grid">
    <div class="ui fifteen wide column">
      <h1> 하진과 희종, 희종과 하진의 이야기들{% if c %} :: {{c}}{% endif%}</h1>
    </div>
    <div class="ui one wide column">
        {% if current_user.username %}
        <a href="/post/new" class="ui icon button basic">
            <i class="write icon"></i>
        </a>
        {% endif %}
    </div>
</div>
<div class="ui divider"></div>
<div class"ui middle aligned relaxed selection list">
  {% for post in posts %}
  <div class="item">
    <img class="ui avatar image" src="/static/image/icon/hj-08.png">
    <div class="content">
      <a href="/post/{{post.id}}">
        <h2 class="title">{{post.title}}</h2>&nbsp;&nbsp;[{{post.comments|length}}]
      </a>
    </div>
    <p>{{post.datetime.strftime('%Y %m %d %H:%M')}}</p>
  </div>
  <br>
  {% endfor %}
</div>
{% endblock %}
