{% extends 'base.html' %}
{% block header %}
<style type='text/css'>
  a.mini {
    font-size: 0.6rem !important;
    padding: 0.785714em 1em !important;
  }
</style>
{% endblock %}
{% block content %}
<h1>{{post.title}}</h1>
<div class="ui left aligned grid">
    <div class="left floated four wide column">
        {{post.datetime.strftime('%Y %m %d %H:%M')}}
    </div>
    <div class="right floated right aligned four wide column">
        <a href="{{post.id}}/delete" onclick="return confirm('정말 삭제하시겠습니까?');">삭제하기</a>
        <a href="{{post.id}}/edit">수정하기</a>
    </div>
</div>
<br>
{% if post.tags %}
  {% for tag in post.tags %}
  <a class='mini basic ui button'>{{tag.tag_name}}</a>
  {% endfor %}
{% endif %}
<br>
<br>
{% filter markdown %}
{{post.body}}
{% endfilter %}
<br>
<div class="ui horizontal divider">덧생각들</div>
{% if comments %}
    {% for comment in comments %}
        <b>{{comment.name}}</b>
        <div class="ui left aligned grid">
            <div class="left floated four wide column">
                {{comment.datetime.strftime('%Y %m %d %H:%M')}}
            </div>
            <div class="right floated right aligned four wide column">
                <i>{{comment.ip}}</i>
            </div>
        </div>
        <p>{% filter markdown %}
        {{comment.body}}{% endfilter %}<p>
        <br>
    {% endfor %}
{% else %}
<p>이 글에는 덧생각이 달려있지 않습니다.</p>
{% endif %}
<div class="ui horizontal divider">덧생각 적기</div>
<br>
<form method='POST' action='/post/{{post.id}}' class='ui form'>
    {{ form.hidden_tag() }}
    {{ render_semantic(form.name) }}
    {{ render_semantic(form.body) }}
    <input type='submit' class='ui button basic' value='작성'>
</form>
{% endblock %}

{% macro render_semantic(field) %}
<div class='field'>
    <label>{{ field.label }}</label>
    {{ field|safe }}
</div>
{% endmacro %}
