{% extends 'base.html' %}
{% block title %}{{post.title}}{% endblock %}
{% block header %}
<style type='text/css'>
  h1.title  {
    font-size: 2.5em;
  }
  a.mini {
    font-size: 0.6rem !important;
    padding: 0.785714em 1em !important;
  }
  a#edit, a#delete  {
    color: black;
  }
  span.tag {
    margin-right: 0.3em;
  }
</style>
{% endblock %}
{% block content %}
<h1 class="title">{{post.title}}</h1>
<div class="ui left aligned grid">
    <div class="left floated twelve wide column">
        {{post.datetime.strftime('%Y %m %d %H:%M')}}
    </div>
    <div class="right floated right aligned four wide column">
        {% if current_user.username %}
        <a id="edit" href="{{post.id}}/edit">수정하기</a>
        <a id="delete" href="{{post.id}}/delete" onclick="return confirm('정말 삭제하시겠습니까?');">삭제하기</a>
        {% endif %}
    </div>
</div>
<br>
{% if post.tags %}
<div>
  <i class="tag icon"></i>
  {% for tag in post.tags %}
  <span class="tag">{{tag.tag_name}}{% if not loop.last %} ,{% endif %}</span>
  {% endfor %}
</div>
<br>
{% endif %}
<div class="ui active inverted dimmer">
  <div class="ui indeterminate text loader">글 로딩중...</div>
</div>
<div class="markdown postbody" hidden>
{{post.body}}
</div>

<!--DISQUE comment-->
<br>
<div id="disqus_thread"></div>
<script>
/**
* RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
* LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
*/

var disqus_config = function () {
this.page.url = window.location.href;
//this.page.identifier = PAGE_IDENTIFIER;
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');

s.src = '//hjlogme.disqus.com/embed.js';

s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
<!-- DISQUE comment end -->

<!--need deleting-->
<br>
<div class="ui horizontal divider">덧생각들</div>
{% if comments %}
    {% for comment in comments %}
        <b>{{comment.name}}</b>
        <div class="ui left aligned grid">
            <div class="left floated twelve wide column">
                {{comment.datetime.strftime('%Y %m %d %H:%M')}}
            </div>
            <div class="right floated right aligned four wide column">
                <i>{{comment.ip}}</i>
            </div>
        </div>
        <p class="markdown">{{comment.body}}</p>

        <br>
    {% endfor %}
{% else %}
<p>이 글에는 덧생각이 달려있지 않습니다.</p>
{% endif %}
<div class="ui horizontal divider">덧생각 적기</div>
<br>
<form method='POST' action='/post/{{post.id}}' class='ui form'>
    {{ form.hidden_tag() }}
    {{ semantic.render(form.name) }}
    {{ semantic.render(form.body) }}
    <input type='submit' class='ui button basic' value='작성'>
</form>
{% endblock %}
