{% extends 'base.html' %}
{% block content %}
<h1>추억 적기</h1>
<form method='POST' action='/post/new' class='ui form'>
  {{ form.hidden_tag() }}
  <div class='ui grid'>
  <div class='twelve wide column'>
  {{ render_semantic(form.title) }}
  </div>
  <div class='four wide column'>
  {{ render_semantic_select(form.category) }}
  </div>
  </div></br>
  {{ render_semantic(form.body) }}
  {{ render_semantic(form.tags) }}
  <input type='submit' class='ui button basic' value='작성'>
</form>
{% endblock %}

{% macro render_semantic(field) %}
<div class='field'>
    <label>{{ field.label }}</label>
    {{ field|safe }}
</div>
{% endmacro %}

{% macro render_semantic_select(field) %}
<div class='field'>
    <label>{{ field.label }}</label>
    {{ field(class="ui dropdown")|safe }}
</div>
{% endmacro %}
