{% extends 'base.html' %}
{% block title %}글 수정{% endblock %}
{% block content %}
<h1>추억 적기</h1>
<form method='POST' action='/post/{{id}}/edit' class='ui form'>
    {{ form.hidden_tag() }}
    <div class='ui grid'>
    <div class='twelve wide column'>
    {{ semantic.form(form.title) }}
    </div>
    <div class='four wide column'>
    {{ semantic.select(form.category) }}
    </div>
    </div></br>
    {{ semantic.form(form.body(rows="30")|safe) }}
    {{ semantic.form(form.tags) }}
    <input type="text" name="photonames" style="display:none">
    <input type='submit' class='ui button basic' value='작성'>
</form>
<input type="file" id="photoupload" name='photo'>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename = 'js/photoAjax.js') }}" type="text/javascript" async></script>
{% endblock %}
