{% extends 'base.html' %}
{% block title %}{{c}}{% endblock %}
{% block content %}
<div class="ui grid">
  <div id="posts-header" class="ui sixteen wide column">
    <h1 id="posts-quote">
      {% if c == 'everyday' %}
      "매일을 삶의 마지막 날인듯이 살라"
      {% elif c == 'study' %}
      "공부가 제일 쉬웠어요"
      {% elif c == 'world' %}
      "우린 우주의 작은 별 안의 작은 점"
      {% elif c == 'idea' %}
      "상상력은 지식보다 중요하다"
      {% elif c == 'review' %}
      "거인의 어깨 위에 올라선 난쟁이는 거인보다 더 멀리 본다."
      {% endif %}
    </h1>
    {% if current_user.username %}
    <a id="posts-write" href="/posts/{{c}}/new" class="ui icon button basic">
        <i class="write icon"></i>
    </a>
    {% endif %}
  </div>
</div>
<div class="ui divider"></div>
<div class="ui middle aligned relaxed selection list" id="post-list">
  {% for post in posts %}
  <div class="item">
    <div>
      {% if post.author.username == 'heejongahn' %}
      <img class="ui avatar image" src="/static/image/icon/hj-08.png">
      {% else %}
      <img class="ui avatar image" src="/static/image/icon/hj-07.png">
      {% endif %}
      <div class="post-content">
        <a href="/post/{{post.id}}">
          <h2 class="title">{{post.title}}</h2>
          <a class="disqus-comments" href="/post/{{post.id}}#disqus_thread"></a>
        </a>
      </div>
    </div>
    <p>{{post.datetime.strftime('%Y %m %d %H:%M')}}</p>
  </div>
  {% endfor %}
</div>
{{ semantic.pagination(pgn, 'posts', c) }}
{% endblock %}

{% block script %}
<script id="dsq-count-scr" src="//hjlogme.disqus.com/count.js" async></script>
{% endblock %}
