{% extends 'base.html' %}
{% block title %}글 작성{% endblock %}
{% block content %}
<h1>추억 적기</h1>
<form method='POST' action='/post/new' class='ui form'>
  {{ form.hidden_tag() }}
  <div class='ui grid'>
  <div class='twelve wide column'>
  {{ semantic.render(form.title) }}
  </div>
  <div class='four wide column'>
  {{ semantic.render_select(form.category) }}
  </div>
  </div></br>
  {{ semantic.render(form.body(rows="30")|safe)}}
  {{ semantic.render(form.tags) }}
  <input type='submit' class='ui button basic' value='작성'>
</form>
<input type="file" id="photoupload" name='photo'>
<button id="photobutton" type="button">Upload</button>
{% endblock %}
