{% extends 'base.html' %}
{% block title %}
  {% if id %}
  글 수정
  {% else %}
  글 작성
  {% endif %}
{% endblock %}
{% block og_title %}
  {% if id %}
  글 수정
  {% else %}
  글 작성
  {% endif %}
{% endblock %}
{% block content %}
<h1>추억 적기</h1>
<form method='POST' action={% if id %}'/post/{{id}}/edit'{% else %}'/post/new'{% endif %} class='ui form'>
    {{ form.hidden_tag() }}
    <div class='ui grid'>
    <div class='twelve wide column'>
    {{ semantic.form(form.title) }}
    </div>
    <div class='four wide column'>
    {{ semantic.select(form.category) }}
    </div>
    </div></br>
    {{ semantic.form(form.body(rows="30")|safe) }}
    {{ semantic.form(form.tags) }}
    <input type="text" name="photonames" style="display:none">
    <input type='submit' class='ui button basic' value='작성'>
</form>
<input type="file" id="photoupload" name='photo'>
{% endblock %}
