@import 'nav'
@import 'github_markdown'
@import 'highlight'
@import url('../../../node_modules/semantic-ui/dist/semantic.css')
@import url('../../../node_modules/katex/dist/katex.min.css')

/* Body Shared Style*/
body
  background-color: #fff
  background-size: 100% 2em


.main
  min-height: calc(100% - 7em)
  height: auto
  margin: 5em auto 3em

  word-break: keep-all

  line-height: 1.8em

  a
    color: #800000

    & :hover, :active
      color: #663300



  li
    list-style-type: none
    &:before
      content: "\00BB"
      margin-left: -18px
      padding-right: 10px

    p
      display: inline



  div, p, span
    line-height: 1.8em



.wireframe
  margin-top: 2em


/* About Page */
#greeting code
  font-size: 1em


#intro
  margin: 1em 0 0 0
  padding: 0 0 1em 0


#greeting, #intro
  font-size: 1.14285714rem


.about-external-link
  margin: 0 1em


/* Post page */

.post-title
  font-size: 2.5em


.mini
  font-size: 0.6rem !important
  padding: 0.785714em 1em !important


.button
  color: black


.tag
  margin-right: 0.3em


figure
  display: flex
  flex-direction: column
  align-items: center

  figcaption
    color: grey
    text-align: center
    font-weight: bold



/* Posts & Search page */

.title, .post-content
  display: inline
  vertical-align: middle


.title
  margin-right: 0.3em


.post-content a
  color: black


.disqus-comments
  font-size: 0.8em


#posts-header
  position: relative

  #posts-quote
    display: inline-block


  #posts-write
    position: absolute
    right: 2em



#prev-and-next
  display: flex
  flex-wrap: wrap
  padding: 2em 0


#prev, #next
  overflow: hidden
  width: 50%
  height: 4em

  a
    max-width: 100%



@media (max-width: 480px)
  #prev, #next
    width: 100%



/* Footer */
.ui.footer.segment
  padding: 5em 0em


.license
  color: white


/* Cooler horizontal rules */
hr
  border: 0
  border-top: 1px dashed #8c8c8c
  text-align:center
  margin: 2em 0

  &:after
    content: '✂'
    display: inline-block
    position: relative
    top: -13px
    padding: 0 3px
    background: #fff
    color: #8c8c8c
    font-size: 18px


