@import 'variables'

/* Responsive header */
header
  top: 0
  left: 0
  width: 100%
  border-bottom: 1px solid rgba(34,36,38,.15)
  box-shadow: 0 1px 2px 0 rgba(34,36,38,.15)
  background: #fff
  z-index: 101
  position: fixed
  height: $header-height


header, .navbar-header
  display: flex

  flex-wrap: wrap
  align-items: center

@media (max-width: 480px)
  .navbar-header
    height: $header-height
    width: 100%
    justify-content: space-between

/* Logo */

#hjlog-logo-anchor
  padding: 0 !important
  margin-left: 1em
  display: inline-block

#hjlog-logo-img
  width: 100px
  display: inline-block
  vertical-align: middle

/* Actual navbar */
@media (max-width: 480px)
  #nav, #nav-menu, .nav-item
    width: 100%

#nav
  display: inline-block

  height: 100%

  @media (max-width: 480px)
      visibility: hidden
      padding: 0
      height: auto

/* Nav menu and items */
#nav-menu
  display: inline-flex
  flex-wrap: wrap

  height: 100%

  padding: 0
  margin: 0

  list-style: none

  @media (max-width: 480px)
    margin: 0
    height: auto

.nav-item
  display: inline-flex
  align-items: center

  line-height: 100%
  text-align: center

  @media (max-width: 480px)
    display: flex
    align-items: center
    justify-content: center
    width: 100%

    padding: 0.5em 0
    margin: 0

    line-height: 1.6em

    border-bottom: none
    background: rgb(84, 84, 84)

/* Overriding anchor style */
.nav-anchor
  padding: 0 1em
  line-height: $header-height

  color: $text-color
  font-weight: bold

  &.active
    color: $main-color

  &:after
    display: block
    content: ''

    margin: 0 -1em

    border-bottom: solid 2px $main-color
    transform: scaleX(0)
    transition: transform 250ms ease-in-out

  &:hover
    color: $main-color

    &:after
      transform: scaleX(1)


  @media (max-width: 480px)
    color: white
    font-weight: normal
    line-height: 1.6em

    &:after
      border: none

    &:hover
      color: white

/* Nav toggle button */
#nav-toggle
  display: none

  @media (max-width: 480px)
    display: inline-flex

    color: black
    margin-right: 12px

    align-items: center

    i
      margin: 0
