/* Responsive Navbar */
header
  top: 0
  left: 0
  width: 100%
  border-bottom: 1px solid rgba(34,36,38,.15)
  box-shadow: 0 1px 2px 0 rgba(34,36,38,.15)
  background: #fff
  z-index: 101
  position: fixed
  height: 3em


header, .navbar-header
  display: -ms-flexbox
  display: -webkit-flex
  display: flex

  -ms-flex-align: center
  -webkit-align-items: center
  -webkit-box-align: center

  flex-wrap: wrap
  align-items: center


#nav
  display: inline-block


#nav-menu
  list-style: none
  display: inline-block
  padding: 0
  margin: 0.75em 0
  line-height: 1em



.nav-item
  display: inline
  width: 100%
  margin: auto 1em
  text-align: center


.nav-item-anchor
  color: black


#nav-toggle
  display: none


#hjlog-logo-anchor
  padding: 0 !important
  margin-left: 1em
  display: inline-block



#hjlog-logo-img
  width: 100px
  display: inline-block
  vertical-align: middle


@media (max-width: 480px)
  .navbar-header
    height: 3em
    width: 100%


  #nav, #nav-menu, .nav-item
    width: 100%


  #nav
    visibility: hidden
    padding: 0


  #nav-menu
    margin: 0


  .nav-item
    display: block
    text-align: center
    padding: 0.5em 0
    margin: 0
    background: rgb(84, 84, 84)


  .nav-item-anchor
    color: white
    font-style: bold


  #nav-toggle
    display: -ms-inline-flex
    display: -webkit-inline-flex
    display: inline-flex

    color: black
    position: absolute
    right: 0.5em
    top: 0
    bottom: 0

    -ms-flex-align: center
    -webkit-align-items: center
    -webkit-box-align: center

    align-items: center

    i
      margin: 0



