{% macro render(field) %}
<div class='field'>
    <label>{{ field.label }}</label>
    {{ field|safe }}
</div>
{% endmacro %}

{% macro render_file(field) %}
<div class='field'>
    <label>{{ field.label }}</label>
    {{ field|safe }}
</div>
{% endmacro %}

{% macro render_select(field) %}
<div class='field'>
    <label>{{ field.label }}</label>
    {{ field(class="ui dropdown")|safe }}
</div>
{% endmacro %}

{% macro render_pagination(pagination, endpoint, c) %}
  <div class="ui pagination menu">
  {% for page in pagination.iter_pages() %}
    {% if page %}
      {% if page != pagination.page %}
        <a class="item" href="{{ url_for(endpoint, page = page, category = c) }}">{{ page }}</a>
      {% else %}
        <div class="active item">{{ page }}</div>
      {% endif %}
    {% else %}
      <div class="disable item">…</div>
    {% endif %}
  {% endfor %}
  </div>
{% endmacro %}

{% macro search_pagination(pagination, endpoint, t) %}
  <div class="ui pagination menu">
  {% for page in pagination.iter_pages() %}
    {% if page %}
      {% if page != pagination.page %}
        <a class="item" href="{{ url_for(endpoint, page = page, tag_name = t) }}">{{ page }}</a>
      {% else %}
        <div class="active item">{{ page }}</div>
      {% endif %}
    {% else %}
      <div class="disable item">…</div>
    {% endif %}
  {% endfor %}
  </div>
{% endmacro %}
