@import 'nav';
@import 'github_markdown';
@import 'highlight';
@import url('../../../node_modules/semantic-ui/dist/semantic.css');

/* Body Shared Style*/
body {
  background-color: #fff;
  background-size: 100% 2em;
}

section {
  min-height: calc(100% - 7em);
  height: auto;
  margin: 5em auto 3em;

  * {
    word-break: keep-all;
  }

  div, a, p {
    line-height: 1.8em;
  }

  a {
    color: #800000;

    & :hover, :active {
      color: #663300;
    }
  }
}
.wireframe {
  margin-top: 2em;
}

/* About Page */
div#greeting code {
  font-size: 1em;
}

div#intro {
  margin: 1em 0 0 0;
  padding: 0 0 1em 0;
}

div#greeting, div#intro {
  font-size: 1.14285714rem;
}

#heejong a {
  margin-right: 2em;
}

/* Post page */

h1.post-title {
  font-size: 2.5em;
}

a.mini {
  font-size: 0.6rem !important;
  padding: 0.785714em 1em !important;
}

a.button {
  color: black;
}

a.tag {
  margin-right: 0.3em;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;

  figcaption {
    color: grey;
    text-align: center;
    font-weight: bold;
  }
}

ul {
  li {
    list-style-type: none;
    &:before {
      content: "\00BB";
      margin-left: -18px;
      padding-right: 10px;
    }
  }
}

/* Posts & Search page */

h2.title, div.post-content {
  display: inline;
  vertical-align: middle;
}

h2.title {
  margin-right: 0.3em;
}

div.post-content a {
  color: black;
}

a.disqus-comments {
  font-size: 0.8em;
}

div#quote {
  position: relative;

  h1 {
    display: inline-block;
  }

  a {
    position: absolute;
    right: 2em;
  }
}

div#prev-and-next {
  display: flex;
  flex-wrap: wrap;
  padding: 2em 0;
}

div#prev, div#next {
  overflow: hidden;
  width: 50%;
  height: 4em;

  a {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  div#prev, div#next {
    width: 100%;
  }
}

/* Footer */
.ui.footer.segment {
  padding: 5em 0em;
}
a.license {
  color: white;
}

/* Cooler horizontal rules */
hr {
  border: 0;
  border-top: 1px dashed #8c8c8c;
  text-align:center;
  margin: 2em 0;

  &:after {
    content: '✂';
    display: inline-block;
    position: relative;
    top: -13px;
    padding: 0 3px;
    background: #fff;
    color: #8c8c8c;
    font-size: 18px;
  }
}
