body {
  background-color: #fff;
  background-size: 100% 2em;
}
a.logo {
  padding: 0 !important;
  min-width: 100px !important;
  width: 100px !important;
  margin-left: 1em;
}
img.logo  {
  width: 100%;
}
.fixed.menu.borderless {
  height: 2em;
}
.ui.top.menu .item {
  margin-right: 0.5em;
}
section {
  min-height: 100%;
  height: auto !important;
  margin: 7em auto 3em;
}
.wireframe {
  margin-top: 2em;
}
.ui.footer.segment {
  padding: 5em 0em;
}
a.license {
  color: white;
}
a{
  color: #800000;
}
a:hover{
  color: #663300;
}
