/* Responsive Navbar */
header {
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid rgba(34,36,38,.15);
  box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
  background: #fff;
  z-index: 101;
  position: fixed;
}
.navbar-header, nav {
  display: inline-block;
}
ul.menu {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin: 0.75em 0;
}
ul.menu > li {
  display: inline;
  width: 100%;
  margin: auto 1em;
}
a.trigger {
  display: none;
}
a.logo {
  padding: 0 !important;
  margin-left: 1em;
  vertical-align: middle;
  display: inline-block;
}
img.logo  {
  width: 100px;
}

@media (max-width: 480px) {
  .navbar-header {
    width: 100%;
    vertical-align: middle;
    position: relative;
  }
  nav, ul.menu, ul.menu > li {
    width: 100%;
  }
  nav {
    display: none;
    padding: 0;
  }
  ul.menu {
    margin: 0;
  }
  ul.menu > li {
    display: block;
    text-align: center;
    padding: 0.3em 0;
    margin: 0;
    background: rgb(84, 84, 84);
  }
  a.item {
    color: white;
    font-style: bold;
  }
  a.trigger {
    display: inline;
    color: black;
    position: absolute;
    right: 0.5em;
    top: 7.5px;
  }
  a.trigger:hover {
    color: #663300;
  }
  a.trigger > i {
    margin: 0;
  }
}

/* Body */
body {
  background-color: #fff;
  background-size: 100% 2em;
}
section {
  min-height: calc(100% - 7em);
  height: auto;
  margin: 7em auto 3em;
}
.wireframe {
  margin-top: 2em;
}

section a {
  color: #800000;
}

section a:hover{
  color: #663300;
}

/* Footer */
.ui.footer.segment {
  padding: 5em 0em;
}
a.license {
  color: white;
}

header a {
  color: black;
}
