body {
  background-color: #fff;
  background-size: 100% 2em;
}
#logo {
  height: 2em; !important;
}
.fixed.menu.borderless {
  height: 2em;
}
.ui.menu .item {
  margin-right: 0.5em;
}
section {
  min-height: 100%;
  height: auto !important;
  margin: 7em auto 5em;
}
.wireframe {
  margin-top: 2em;
}
.ui.footer.segment {
  padding: 5em 0em;
}
